<?xml version="1.0"?>
<robot name="artemis_arena_proxy">

  <link name="arena_base_link">

    <visual name="lunar_surface">
      <origin xyz="0 0 -0.1" rpy="0 0 0" />
      <geometry>
        <box size="7.22 5.34 0.1" />
      </geometry>
      <material name="dark_grey">
        <color rgba="0.3 0.3 0.3 1"/>
      </material>
    </visual>

    <visual name="zone_split_vertical">
      <origin xyz="0.94 0 0.01" rpy="0 0 0" />
      <geometry><box size="0.02 5.0 0.05" /></geometry>
      <material name="white"><color rgba="1 1 1 1"/></material>
    </visual>
    
    <visual name="starting_box_horizontal">
      <origin xyz="2.61 0.67 0.01" rpy="0 0 0" />
      <geometry><box size="2.0 0.02 0.05" /></geometry>
      <material name="cyan"><color rgba="0 1 1 1"/></material>
    </visual>

    <visual name="starting_box_vertical">
      <origin xyz="1.61 1.67 0.01" rpy="0 0 0" />
      <geometry><box size="0.02 2.0 0.05" /></geometry>
      <material name="yellow"><color rgba="1 1 0 1"/></material>
    </visual>

    <visual name="excavation_box_vertical">
      <origin xyz="-0.5 1.7 0.01" rpy="0 0 0" />
      <geometry><box size="0.02 1.5 0.05" /></geometry>
      <material name="yellow"/>
    </visual>

    <visual name="excavation_box_horizontal">
      <origin xyz="-2.0 0.95 0.01" rpy="0 0 0" />
      <geometry><box size="3.0 0.02 0.05" /></geometry>
      <material name="cyan"/>
    </visual>

    <visual name="tag_7">
      <origin xyz="3.4 1.8 0.4" rpy="0 -1.58 0" />
      <geometry><box size="0.3 0.3 0.005" /></geometry>
      <material name="purple"><color rgba="0.6 0.1 0.6 1"/></material>
    </visual>

    <visual name="tag_11">
      <origin xyz="2.5 2.5 0.4" rpy="1.58 1.58 0" />
      <geometry><box size="0.3 0.3 0.005" /></geometry>
      <material name="purple"/>
    </visual>

    <visual name="rock_round_1">
      <origin xyz="1.32307 0.270163 0.05" rpy="0 0 0.846674" />
      <geometry><sphere radius="0.15" /></geometry>
      <material name="brown"><color rgba="0.6 0.4 0.2 1"/></material>
    </visual>
    <visual name="rock_round_2">
      <origin xyz="0.56 -0.39 0.05" rpy="0 0 -0.80" />
      <geometry><sphere radius="0.15" /></geometry>
      <material name="brown"/>
    </visual>
    <visual name="rock_round_3">
      <origin xyz="1.25 -1.0 0.05" rpy="0 0 2.55" />
      <geometry><sphere radius="0.15" /></geometry>
      <material name="brown"/>
    </visual>
    <visual name="rock_rough_1">
      <origin xyz="-2.01943 -0.546468 0.05" rpy="0 0 -2.17367" />
      <geometry><sphere radius="0.2" /></geometry>
      <material name="dark_brown"><color rgba="0.4 0.2 0.1 1"/></material>
    </visual>
    <visual name="rock_rough_2">
      <origin xyz="0.63 -1.84 0.05" rpy="0 0 -0.62" />
      <geometry><sphere radius="0.2" /></geometry>
      <material name="dark_brown"/>
    </visual>
    <visual name="rock_rough_3">
      <origin xyz="-1.0 -1.25 0.05" rpy="0 0 -2.17367" />
      <geometry><sphere radius="0.2" /></geometry>
      <material name="dark_brown"/>
    </visual>

  </link>
</robot>
